:root {
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;
  --card-background-color: #1d1c19;
  --card-text-color: #e1e1e6;
  --background: url("assets/bg-yellow.svg");
  --icon-bg-blue-color: rgba(51, 137, 243, 0.604);
  --icon-bg-green-color: rgb(4, 124, 63, 0.604);
}

body.blue {
  --card-color-primary: #338af3;
  --card-title-border-color: #338af3;
  --card-background-color: #202024;
  --background: url("assets/bg-blue.svg");
}

body.green {
  --card-color-primary: #047c3f;
  --card-title-border-color: #047c3f;
  --card-background-color: #1a1f1b;
  --background: url("assets/bg-green.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #121214 var(--background);
  background-position-x: center;
  background-position-y: 55.6%;
  background-attachment: fixed;

  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  text-align: center;
  padding: 32px 23px;

  background: var(--card-background-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  padding: 8px 16px;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card h2 span {
  color: var(--card-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li img {
  width: 50px;
}

.card ul li strong {
  font-size: 36px;
  font-weight: 900;
  line-height: 125%;

  color: var(--card-text-color);
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.icons-bg {
  position: absolute;
  right: 0;
  top: 100;
  padding: 0 22px 22px 0;

  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.icons-bg img {
  display: block;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.icons-bg #blue:hover {
  box-shadow: 2px 2px 8px var(--icon-bg-blue-color);
}

.icons-bg #green:hover {
  box-shadow: 2px 2px 8px var(--icon-bg-green-color);
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card ul {
    width: 270px;
  }
}
